@use 'header';
@use 'about';
@use 'characteres';
@use 'watch';
@use 'newsletter';
@use 'footer';
@use 'variables';
@use 'similar-movies';
@use 'mixins' as mixin;


* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "futura", sans-serif;
    background-color: variables.$bcgColor;
}

.text {
    @include mixin.text();
    color: variables.$txtColor;
    margin-bottom: 15px;
}

.text--medium {
    @include mixin.text(20px);
    color: #444444;
}

.text--small {
    @include mixin.text(14px, variables.$secTxtColor)
}

.title {
    @include mixin.title();
    color: variables.$titleColor;
    font-weight: 700;
    margin-bottom: 48px;
}

.title--small {
    @include mixin.text(24px, #d32f2f);
    margin-bottom: 10px;
}

.title--big {
    @include mixin.title();
    font-size: 96px;
    color: variables.$secTxtColor;
    text-transform: lowercase;
    font-weight: 600;
}

.subtitle {
    @include mixin.text(22px);
    margin-top: 10px;
    margin-bottom: 24px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal__content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 90%;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}